- if Favorite.find_by(user: current_user, item_id: item.id)
  = link_to item_favorites_path(@item), method: :delete, remote: true do
    .i{class: "fa fa-star"}
      %span いいね！
      = @item.favorites.length
- else
  = link_to item_favorites_path(@item), method: :post, remote: true do
    .i{class: "fa fa-star"}
      %span いいね！
      = @item.favorites.length