%body
  %header
  %main
    .main-form
      %h2.main-form__title 新規会員登録
      .main-form__wrapper
        .main-contents
          .contents-field--first
            %a.default-btn.default-btn--mail(href='http://localhost:3000/users/sign_up')
              = icon('far', 'envelope', class: 'icon-mail')
              メールアドレスで登録する
          .contents-field
            %a.default-btn.default-btn--facebook(href='')
              = icon('fab', 'facebook-square', class: 'icon-facebook')
              Facebookで登録する
          .contents-field
            %a.default-btn.default-btn--google(href='')
              = icon('fab', 'google', class: 'icon-google')
              Googleで登録する

  %footer