
.breadcrumbs_list{
  background: #FFF;
  font-size: 15px;
  padding: 10px 0;
  width: 100%;
  height: 25px;
  border-top:solid 1px rgb(230, 229, 229);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  .breadcrumbs{
    max-width: 1020px;
    margin: 0 auto;
    a{
      color: #333;
      text-decoration: none;
    }
    .current{
      font-weight: 600;
    }
  }
}