.main_menu{
  max-width: 700px;
}

.profile{
  background-image: image-url("pict/tiles-shapes-2617112_1920.jpg");
  width: 100%;
  height: 140px;
  margin-bottom: 30px;
  .detail{
    width: 660px;
    height: 100px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    .name{
      font-size: 3rem;
      text-shadow: 1px 2px 3px black;
    }
    .info{
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 1px 2px 3px black;
      &__favorite{
        padding: 0 10px;
      }
      &__exhibition{
        padding: 0 10px;
      }
    }
  }
}

.exhibition{
  width: 700px;
  margin-bottom: 30px;
  .title{
    background-color: rgb(236, 236, 236);
    height: 60px;
    font-weight: bold;
    h2{
      line-height: 60px;
      font-size: 20px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
  ul.lists_status{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.exhibition_status{
  background-color: rgb(218, 218, 218);
  height: 60px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-top: solid rgb(218, 218, 218);
  h3{
    line-height: 60px;
    font-size: 1rem;
    font-weight: bold;
  }
}

ul.exhibition_link{
  display: block;
  height: 300px;
  background-color: white;
  overflow: scroll;
}

.exhibiton_list{
  background-color: white;
  height: 70px;
  width: 680px;
  padding: 10px 10px;
  border-bottom: solid 1px rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
  .exhibition_detail{
    background-color: white;
    height: 100%;
    width: 600px;
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
    .exhibiton_img{
      width: 70px;
      margin-right: 20px;
    }
    .exhibiton_info{
      width: 580px;
      text-align: inherit;
      .exhibiton_name{
        font-size: 0.9rem;
      }
      .exhibition_tag{
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
  }
  .exhibition_btns a{
    text-decoration: none;
  }
  .exhibition_btns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .exhibition_btn{
      display: block;
      font-size: 0.8rem;
    }
    button.exhibition_btn:hover{
      background-color: rgb(164, 220, 255);
      cursor: pointer;
    }
  }
}

.none_links{
  height: 300px;
  background-color: white;
  text-align: center;
  .none_img{
    color: lightgray;
    filter: invert(30%);
    width: 300px;
    padding-top: 100px;
  }
  p.none_text{
    font-weight: bold;
    color: rgb(192, 190, 190);
    font-size: 1rem;
  }
}

li.exhibition_status:hover{
  cursor: pointer;
}

li.exhibition_status.active{
  background-color: white;
  border-top-color: red;
}

// ul.exhibition_link.show{
//   display: block;
// }

.purchases{
  width: 700px;
  .title{
    background-color: rgb(236, 236, 236);
    height: 60px;
    font-weight: bold;
    h2{
      line-height: 60px;
      font-size: 20px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
  ul.lists_status{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

li.purchases_status{
  background-color: rgb(218, 218, 218);
  height: 60px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-top: solid rgb(218, 218, 218);
  h3{
    line-height: 60px;
    font-size: 1rem;
    font-weight: bold;
  }
}

ul.purchases_link{
  display:block;
  height: 300px;
  background-color: white;
  overflow: scroll;
  .none_links{
    height: 300px;
    background-color: white;
    text-align: center;
    &__img{
      color: lightgray;
      filter: invert(30%);
      width: 300px;
      padding-top: 100px;
    }
    P{
      font-weight: bold;
      color: rgb(192, 190, 190);
      font-size: 1rem;
    }
  }
}

li.purchases_status:hover{
  cursor: pointer;
}

li.purchases_status.active{
  background-color: white;
  border-top-color: red;
}


.favorite_list{
  width: 700px;
  margin-bottom: 30px;
  .title{
    background-color: rgb(236, 236, 236);
    height: 60px;
    font-weight: bold;
    border-bottom:solid red;
    h2{
      line-height: 60px;
      font-size: 20px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
}


ul.favorite_link{
  display: block;
  height: 100%;
  background-color: white;
  overflow: scroll;
}

.favorite_box{
  background-color: white;
  height: 70px;
  width: 680px;
  padding: 10px 10px;
  border-bottom: solid 1px rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
  .favorite_detail{
    background-color: white;
    height: 100%;
    width: 600px;
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
    .favorite_img{
      width: 70px;
      margin-right: 20px;
    }
    .favorite_info{
      width: 580px;
      text-align: inherit;
      .favorite_name{
        font-size: 0.9rem;
      }
      .favorite_price{
        font-size: 0.8rem;
        font-weight: bold;
      }
      .favorite_another{
        font-size: 0.8rem;
      }
    }
  }
  .favorite_btns a{
    text-decoration: none;
  }
  .favorite_btns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .favorite_btn{
      display: block;
      font-size: 0.8rem;
    }
    button.favorite_btn:hover{
      background-color: rgb(164, 220, 255);
      cursor: pointer;
    }
  }
}

.none_links{
  height: 300px;
  background-color: white;
  text-align: center;
  .none_img{
    color: lightgray;
    filter: invert(30%);
    width: 300px;
    padding-top: 100px;
  }
  p.none_text{
    font-weight: bold;
    color: rgb(192, 190, 190);
    font-size: 1rem;
  }
}

li.favorite_status:hover{
  cursor: pointer;
}

.sold_mark{
  position: absolute;
  border-bottom: 50px solid transparent;
  border-left: 50px solid red;
}
.sold_mark::after{
  color: white;
  font-weight: bold;
  content: "SOLD";
  font-size: 13px;
  position: absolute;
  top: 9px;
  left: -50px;
  transform: rotate(-45deg);
}