.exhibition-btn{
  width: 100px;
  background-color: #3CCACE;
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 15px;
  cursor: pointer;
  border-radius: 4%;
  text-align: center;
  &__text{
    color: #fff;
    display: block;
    background-color: #3CCACE;
  }
  i{
    color: white;
    background-color: #3CCACE;
  }
}