.item_purchases_page {
  * {
  box-sizing: border-box;
  text-decoration: none;
  margin: 20px auto 0;
}

.header{
  height: 128px;
  width: 100%;
  background-color: #f5f5f5;
}
//商品情報の表示
.purchase-main{
  width: 700px;
  margin: 0 auto;
  &__purchase-head{
    font-size: 22px;
    padding: 32px;
    text-align: center;
    color: black;
    background-color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
  }
  &__purchase-info{
    height: 150px;
    background-color: #fff;
    margin: 0 auto;
    border-bottom: 1px solid #f5f5f5;
    .item-small-detail{
      text-align: center;
      display: flex;
      margin: 0 auto;
      width: 400px;
      &__pic{
        height: 80px;
        width: 80px;
        margin-right: 0;
        margin-top: 35px;
      }
      &__item-name{
       text-align: left;
       margin-left: 16px;
       margin-top: 35px;
        &--price{
          .tax{
            margin-left: 5px;
            margin-right: 5px;
          }
          text-align: left;
          margin-top: 20px;
          font-weight: bolder;
          font-size: 13px;
        }
      } 
    }
  }
}
//支払いに関する表示
.purchase-contents{
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  &__payment-price{
    background-color: #fff;
    width: 300px;
    height: 100px;
    display: flex;
    font-weight: bold;
    margin: 0 auto;
    border-bottom: 1px solid #f5f5f5;
    &--text{
      margin-left: 0;
      font-size: 18px;
      background-color: #fff;
    }
    &--price{
      margin-right: 0;
      font-size: 20px;
      margin-left: auto;
      background-color: #fff;
    }
  }
  &__payment-method{
    background-color: #fff;
    width: 300px;
    height: 100px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
    margin: 10px auto;
    &--payment-button{
      margin: 10px 10px 0;
      background-color: #fff;
      font-weight: lighter;
    }
  }
  &__delivery-address{
    background-color: #fff;
    width: 300px;
    margin: 0 auto;
    height: 100px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
    &--address-button{
    margin: 10px 10px 0;
    background-color: #fff;
    font-weight: lighter;
    }
  }
}
.purchase-btn{
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  &__btn{
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
    width: 300px;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    background-color: #fff;
    height: 100px;
    .buy-btn{
      display: block;
      text-decoration: none;
      color: white;
      background-color: #3CCACE;
      height: 50px;
    }
    .else-btn{
      color: white;
      background-color: #888;
      margin: 10px auto;
      width: 300px;
      text-align: center;
      font-weight: bold;
      font-size: 0.9em;
      cursor: not-allowed;
    }
   }
}


.footer{
  padding: 0 0 220px;
}
}
