.space {
  margin: 60px;
}

.subtitle {
  color: #333;
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
}


.productlists {
  width: 780px;
  margin: 26px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .productlist{
    margin: 20px;
  }
    a {
      display: inline-block;
      text-decoration: none;
      background-color: #fff;
      &:hover {
        opacity: 0.5;
      }

    //商品画像
      .productlist__img {
        width: 220px;
        height: 150px;
        position: relative;
        overflow: hidden;
        margin: 0;
        z-index: auto;
        .pic {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          z-index: auto;
          height: 150px;
          object-fit: cover;
        }
        
        // 売り切れマーク
        .sold_mark{
          position: absolute;
          border-bottom: 90px solid transparent;
          border-left: 90px solid red;
        }
        .sold_mark::after{
          color: white;
          font-weight: bold;
          content: "SOLD";
          font-size: 20px;
          position: absolute;
          top: 15px;
          left: -90px;
          transform: rotate(-45deg);
        }
      }
        
    //商品情報
      .productlist__info {
        background-color: white;
        color: #333;
        padding: 16px;
        .name {
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
        }
        .details {
          font-size: 16px;
          ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          p {
            font-size: 10px;
            text-align: left;
          }
        }
      }
  }
}