!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title freemaeket_sample_65d
    %script{src: "https://js.pay.jp/", type: "text/javascript"}

    = csrf_meta_tags

    -# jquery使用のためコメントアウト(吉野)
    -# = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
  = yield
